<body>
  <link rel="stylesheet" href="/style.css" />
  <h1>Evelyn's Dog Generator</h1>

  <form method="POST" action="/">
    <select name="selected">
      <% breedSelect.forEach(function(breed){ %>
      <option value="<%= breed %>"><%= breed %>
      <% }) %>
    </option>
    </select>
    <button type="submit">Submit</button>
    <br />
    <br />
    <img id="dog-image" src="<%= dogImage %>" alt="" />
  </form>
</body>
