body {
  font-family: "Copperplate", Arial, fantasy;
  background-color: #f9f3f3;
  text-align: center;
}

h1 {
  color: #f25287;
  font-size: 3.5rem;
  margin-top: 5%;
}

img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 5%;
}

.show {
  display: block;
}
